.keys {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  list-style-type: none;
  font-weight: 700;
}

.results {
  margin-top: 40px;
  border-top: 2px solid rgb(173, 173, 173);
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  font-weight: 700;
}
